{% extends 'layout.html.twig'%}

{% block body %}
	<h1>Liste des véhicules</h1>
	<table>

		<thead>
			<tr>
				<th>Modèle</th>
				<th>Marque</th>
				<th>Couleur</th>
			</tr>
		</thead>
		<tbody>
			{% for voiture in voitures %}
				<tr>
					<td>{{ voiture.model }}</td>
					<td>{{ voiture.marque.nomMarque }}</td>
					<td style="background:{{voiture.couleur}};"></td>
					<td>
						<a href="{{path('car.update',{id: voiture.id})}}">Modifier</a>
						<a href="{{path('car.delete',{id: voiture.id})}}">Supprimer</a>
						<a href="{{path('car.infoCar',{id: voiture.id})}}">Voir</a>
					</td>
				</tr>

			</tr>
			
		{% endfor %}

	</tbody>

</table>
{% endblock %}

